ul {
    list-style: none;
}

.photo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

}

.photo-container {
    display: grid;
    grid-auto-flow: row
}

.button {
    grid-area: 4/1/5/6
}


@media (min-device-width:768px) and (max-device-width:1023px) {
    .photo {

        grid-template-columns: 1fr 1fr 1fr !important;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .items {
        width: 12em !important;
        height: 90%;
    }
}

@media (max-device-width:767px) {
    .photo {

        grid-template-columns: 1fr !important;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .items {

        width: 12em !important
    }
}

@media (max-device-width:424px) {
    .photo {


        grid-template-columns: 1fr !important;
        align-items: center;
        justify-items: center;
    }

    .items {
        width: 10em !important
    }
}

@media (max-device-width:374px) {
    .photo {


        grid-template-columns: 1fr !important;
        align-items: center;
        justify-items: center;
    }

    .items {
        width: 9em !important
    }
}