ul {
    list-style: none;
}

.photo {
    display: grid;
    border: 2px solid red;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

.photo-container {
    display: grid;
    grid-auto-flow: row
}


@media (min-device-width:768px) and (max-device-width:1023px) {
    .photo {
        border: 2px solid rgb(172, 255, 63);

        grid-template-columns: 20% 20% 20% !important;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .items {
        border: 2px solid green;
        width: 90% !important;
        height: 90%;
    }
}

@media (max-device-width:767px) {
    .photo {
        border: 2px solid blue;

        grid-template-columns: 90% !important;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .items {
        border: 2px solid green;
        width: 60% !important
    }
}

@media (max-device-width:468px) {
    .photo {
        border: 2px solid blue;

        grid-template-columns: 90% !important;
        align-items: center;
        justify-items: center;
    }

    .items {
        border: 2px solid green;
        width: 60% !important
    }
}