.wishlist {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.wishlist-container {
    display: grid;
    grid-auto-flow: row
}

.button {
    width: 100%;
    grid-area: 2/1/3/6
}

@media (min-device-width:768px) and (max-device-width:1023px) {
    .wishlist {

        grid-template-columns: 1fr 1fr 1fr !important;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .wishlist-items {

        width: 12em !important;
        height: auto;
    }

    .button {
        width: 100%;
    }

}

@media (max-device-width:767px) {
    .wishlist {


        grid-template-columns: 1fr !important;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .wishlist-items {

        width: 10em !important;
    }

    .button {
        width: 100%;
    }

}

@media (max-device-width:424px) {
    .wishlist {


        grid-template-columns: 90% !important;
        align-items: center;
        justify-items: center;
    }

    .wishlist-items {

        width: 10em !important
    }

    .button {
        width: 100%;
    }

}

@media (max-device-width:424px) {
    .wishlist {


        grid-template-columns: 90% !important;
        align-items: center;
        justify-items: center;
    }

    .wishlist-items {

        width: 9em !important
    }

    .button {
        width: 100%;
    }

}