.wishlist {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

}

.wishlist-container {
    display: grid;
    grid-auto-flow: row
}

.button {
    width: 100%;
}

@media (min-device-width:768px) and (max-device-width:1023px) {
    .wishlist {

        grid-template-columns: 20% 20% 20% !important;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .wishlist-items {

        width: 90% !important;
        height: auto;
    }

    .button {
        width: 100%;
    }

}

@media (max-device-width:767px) {
    .wishlist {


        grid-template-columns: 90% !important;
        align-items: center;
        justify-items: center;
        justify-content: center;
    }

    .wishlist-items {

        width: 60% !important;
    }

    .button {
        width: 100%;
    }

}

@media (max-device-width:468px) {
    .wishlist {


        grid-template-columns: 90% !important;
        align-items: center;
        justify-items: center;
    }

    .wishlist-items {

        width: 60% !important
    }

    .button {
        width: 100%;
    }

}